.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #27293d;
}

/* Hide the default checkbox */
.checkbox-input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  width: 0;
  height: 0;
}

/* Style the custom checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox-checkmark {
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  background: linear-gradient(45deg, #ba54f5, #e14eca);
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the checkmark when checked */
.checkbox-input:checked + .checkbox-checkmark {
  background-color: #4caf50; /* Checkmark background */
  border: 2px solid #4caf50;
}

.checkbox-input:checked + .checkbox-checkmark::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
