/* ./src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Custom scrollbar styles for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px; 
}

::-webkit-scrollbar-track {
  background: #1a1a27;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

/* Custom scrollbar styles for Firefox */
* {
  scrollbar-width: thin; 
  scrollbar-color: #444 #1a1a27; 
}

